In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
warnings.resetwarnings()

In [2]:
rating = pd.read_csv('BX-Book-Ratings.csv',sep = ';',error_bad_lines = False,encoding = 'latin-1')

C:\Users\Asus\AppData\Local\Temp\ipykernel_6320\4101781805.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  rating = pd.read_csv('BX-Book-Ratings.csv',sep = ';',error_bad_lines = False,encoding = 'latin-1')

In [3]:
books= pd.read_csv('BX-Books.csv',sep = ';',error_bad_lines = False,encoding = 'latin-1')
books['Book-Title'][1000]

C:\Users\Asus\AppData\Local\Temp\ipykernel_6320\3602585513.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books= pd.read_csv('BX-Books.csv',sep = ';',error_bad_lines = False,encoding = 'latin-1')
Skipping line 6452: expected 8 fields, saw 9
Skipping line 43667: expected 8 fields, saw 10
Skipping line 51751: expected 8 fields, saw 9

Skipping line 92038: expected 8 fields, saw 9
Skipping line 104319: expected 8 fields, saw 9
Skipping line 121768: expected 8 fields, saw 9

Skipping line 144058: expected 8 fields, saw 9
Skipping line 150789: expected 8 fields, saw 9
Skipping line 157128: expected 8 fields, saw 9
Skipping line 180189: expected 8 fields, saw 9
Skipping line 185738: expected 8 fields, saw 9

Skipping line 209388: expected 8 fields, saw 9
Skipping line 220626: expected 8 fields, saw 9
Skipping line 227933: expected 8 fields, saw 11
Skipping line 228957: expected 8 fields, saw 10
Skipping line 245933: expected 8 fields, saw 9
Skipping line 251296: expected 8 fields, saw 9
Skipping line 259941: expected 8 fields, saw 9
Skipping line 261529: expected 8 fields, saw 9

C:\Users\Asus\AppData\Local\Temp\ipykernel_6320\3602585513.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books= pd.read_csv('BX-Books.csv',sep = ';',error_bad_lines = False,encoding = 'latin-1')

'All-American Girl'

In [5]:
rating.shape

(1149780, 3)

In [116]:

users = pd.read_csv('BX-Users.csv',sep = ';',error_bad_lines = False,encoding = 'latin-1')

C:\Users\Asus\AppData\Local\Temp\ipykernel_3304\1216482405.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  users = pd.read_csv('BX-Users.csv',sep = ';',error_bad_lines = False,encoding = 'latin-1')

In [117]:
books = books.rename(columns = {'Book-Title':'title','Book-Author':'author','Year-Of-Publication':'year','Publisher':'publisher'})

In [118]:
books = books.drop(columns = ['Image-URL-S','Image-URL-M','Image-URL-L'])

In [119]:
users = users.rename(columns = {'User-ID':'user_id','Location':'location','Age':'age'})

In [142]:
ratingnew = rating.merge(books,on = 'ISBN')

In [143]:
ratingnew.head()

,User-ID,ISBN,Book-Rating,title,author,year,publisher
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books

In [144]:
number_rating = ratingnew.groupby('title').count().reset_index()
number_rating.rename(columns = {'book_rating':'no_of_rating'},inplace = True)

In [145]:
number_rating.head()

,title,User-ID,ISBN,Book-Rating,author,year,publisher
0,A Light in the Storm: The Civil War Diary of ...,4,4,4,4,4,4
1,Always Have Popsicles,1,1,1,1,1,1
2,Apple Magic (The Collector's series),1,1,1,1,1,1
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,1,1,1,1,1
4,Beyond IBM: Leadership Marketing and Finance ...,1,1,1,1,1,1

In [146]:
final = ratingnew.merge(number_rating,on = 'title')

In [156]:
final.head()

,User-ID_x,ISBN_x,Book-Rating_x,title,author_x,year_x,publisher_x,User-ID_y,ISBN_y,Book-Rating_y,author_y,year_y,publisher_y
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,60,60,60,60,60,60
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,60,60,60,60,60,60
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,60,60,60,60,60,60
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,60,60,60,60,60,60
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,60,60,60,60,60,60

# According to me now the data is clean to perform Recomender algorithms

In [ ]:
final_pivot.fillna(0,inplace = True)

In [149]:
from scipy.sparse import csr_matrix
book_spa = csr_matrix(final_pivot)

In [150]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm = 'brute')

In [151]:
model.fit(book_spa)

NearestNeighbors(algorithm='brute')

In [152]:
final = final.drop_duplicates()

In [153]:
def recommend_book(book_name):
    id = np.where(final_pivot.index==book_name)[0]
    distances,suggestions = model.kneighbors(final_pivot.iloc[id,:].values.reshape(1,-1),n_neighbors = 10)
    for i in range(len(suggestions)):
        if i==0:
            print(final_pivot.index[suggestions[i]].sort_values())

In [154]:
final['title'][21400]

'Skybowl (Dragon Star, Book 3)'

In [155]:
 recommend_book('The Best Laid Plans')

Index(['Acts of Love', 'Blood and Gold (Rice, Anne, Vampire Chronicles.)',
       'Flight of the Old Dog', 'Mixed Blessings',
       'Stay Out of the Basement (Goosebumps, No 2)', 'The Best Laid Plans',
       'The Juror', 'The Ring', 'Up Island: A Novel',
       'WEB OF DREAMS (Casteel Saga (Paperback))'],
      dtype='object', name='title')

# Here we finally the recommended books for The Best Laid Plans that are given below